.spdsRadio{
    display: inline-flex;
    min-width: 24px;
}

.spdsRadio__radiomark{
    position: relative;
}
.spdsRadio__radiomark input{
    opacity: 0;
    z-index: -1;
    position: absolute;
    left: 0;
    top:0;
}
.spdsRadio__radiomark{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spdsRadio__radiomark:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: var(--color-semantic-surface-regular-1) 50% 50% no-repeat;
    border: 1px solid var(--color-semantic-border-check-unchecked);
    border-radius: 50%;
}
.spdsRadio:hover .spdsRadio__radiomark:before{
    background-color: var(--color-semantic-surface-regular-3) ;
}
.spdsRadio__radiomark:focus:before{
    border-color: var(--color-semantic-border-focus);
    box-shadow: 0px 0px 0px 3px var(--color-semantic-highlight-focus-ring-default);
}
.spdsRadio__radiomark:focus-visible:before{
    outline: inherit;
}
.spdsRadio__radiomark:has(.input:checked)::before {
    background-color: var(--color-semantic-surface-regular-1);
    outline: 4px solid var(--color-semantic-border-selected);
    outline-offset: -4px;
}
.spdsRadio__text{
    color: var(--color-semantic-text-body-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    padding-block: 2.5px;
    flex-grow: 1;
    overflow-wrap: break-word;
    min-width: 0;
}
.spdsRadio:has(.input:disabled) {
    cursor: not-allowed;
}
.spdsRadio__radiomark:has(:is(.input:disabled, .input:disabled:hover))::before {
    background-color: var(--color-semantic-surface-check-disabled);
    border-color: var(--color-semantic-border-regular);
}
.spdsRadio__radiomark:has(.input:disabled) + .spdsRadio__text {
    color: var(--color-semantic-text-disabled);
}
.radioWrapper{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
